{% extends "absentpi/absentpi.html" %}

{% block content %}
<section id="new_entry">
    <h1>New Entry</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="create" value="Create">
    </form>
</section>

<section id="latest_entries">
    <h1> Last {{ latest_entries|length }} Entries </h1>
    <ul>
    {% for entry in latest_entries %}
        <li><a href="{% url 'absentpi-show' entry.id %}">{{ entry }}</a></li>
    {% endfor %}
    </ul>
</section>

{% endblock %}
